[run]
source=src
branch = True
parallel=True
concurrency=multiprocessing
omit = 
        *migrations*,
        *urls*,
        *test*,
        *admin*,
        ./manage.py,
        ./src/config/*,
        ./src/wsgi.py,
        *__init__*

[html]
directory = coverage

[report]
show_missing=True
